img{
    width: 200px;

}

.article_list{
    display: flex; /* Swobodne kontenery*/
    gap: 15px; /*przerwa pomiędzy*/
    flex-direction: column; /*polozenie w kolumne*/
}

.item{
    border: 5px solid black;
    text-align: center;
    width: 300px;
    padding: 15px; /*Ramka wilkosc*/
}

.btn_container{  /*Nie działa!!!!!!!!!!!!*/
    display: flex;
justify-content: flex-end;
}

.article_list{
    @media {max-width:750px}
}